body {
    background-image: url("../images/background.jpg");
    background-size:cover;
    background-position-y: 30%;
}
.container {
    background-color: rgba(0,0,0,.8);
    padding:20px 50px;
    color:white;
    width:250px;
    text-align:center;
}
#word {
    font-size:40px;
}
#reset-button {
    display:none;
}